@import './abstracts/_colors';

.light {
    .text {
        color: $gray-900
    }
    .background {
        background-color: $gray-50
    }
}

.dark {
    .text {
        color: $gray-50
    }
    .background {
        background-color: $gray-900
    }
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
