:root {
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-content: stretch;
  justify-items: center;
  align-items: center;
}

.light .text {
  color: #111827;
}
.light .background {
  background-color: #F9FAFB;
}

.dark .text {
  color: #F9FAFB;
}
.dark .background {
  background-color: #111827;
}
