:root {
  color-scheme: dark;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #111827;
}
.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  font-weight: bold;
  cursor: pointer;
}
.nav ul li {
  margin: 1rem;
}
@media (prefers-color-scheme: light) {
  .nav {
    background-color: #3B82F6;
  }
  .nav h1, .nav ul {
    color: #111827;
  }
}
@media (prefers-color-scheme: dark) {
  .nav {
    background-color: #F97316;
  }
  .nav h1, .nav ul {
    color: #F3F4F6;
  }
}
