@use '../styles/abstracts/colors' as *;

:root{
    color-scheme: dark;
}

@mixin nav() {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: $gray-900;
    ul{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        list-style-type: none;
        font-weight: bold;
        cursor: pointer;
        li{
            margin: 1rem;
        }
    }
}

.nav {
    @include nav();
}

@media (prefers-colors-scheme: light) {
    .nav {
        @include nav();
        background-color: $blue-500
        h1, ul {
            color: $gray-900
        }
    }
}
@media (prefers-colors-scheme: dark) {
    .text {
        color: $gray-50
    }
    .background {
        background-color: $orange-500
    }
}
